body {
    margin: 0;
    background-size: cover;
    user-select: none;
}

.layout {
    height: auto !important;
}

.page-content {
    flex: 1;
    padding: 0 !important;
    background: 
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)),
    url(/defaultBG.png) no-repeat center center / cover;
background-size: cover;
    
}

.game-container {
    justify-content: space-between;
    padding: 0 !important;
    background: 
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)) no-repeat,
    url(/defaultBG.png) no-repeat;
    background-position: center center;
    background-size: cover;
}

.page-title {
    position: relative;
    font-size: 28px;
    font-weight: bold;
    color: #444;
    text-align: center;
    top: 0;
    margin: 0 !important;
    margin-bottom: 20px !important;
    padding: 15px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    background-color: transparent;
    border-radius: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffa500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    text-align: center;
}

/* SHINY */
.shiny {
    color: #000;
    background: none;
    animation: shiny-text-animation 2s linear infinite;
}

@keyframes shiny-text-animation {
    0% {
        color: #444;
    }
    50% {
        color: #ffa500;
    }
    100% {
        color: #444;
    }
}

/* INFOBOX */
.infobox {
    display: none;
    position: absolute;
    border-radius: 10px;
    border: 2px solid #444;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateY(-100%);
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 999;
    width: 200px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
}

.infobox p {
    margin: 5px 0;
}

.infoboxed {
    position: relative;
}
  
.infoboxed:hover .infobox, .infoboxed .infobox:hover {
    display: block;
    opacity: 1;
    pointer-events: auto;
}


